<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <!--    开启注解支持-->
    <context:annotation-config/>


    <bean id="cat" class="com.yao.pojo.Cat">
        <property name="catName" value="tom"/>
    </bean>
    <bean id="dog" class="com.yao.pojo.Dog">
        <property name="dogName" value="jack"/>
    </bean>

    <!--    <bean id="cat" class="com.yao.pojo.Cat"/>-->
    <!--    <bean id="dog" class="com.yao.pojo.Dog"/>-->

    <!--    自动装配的xml方式-->
<!--        <bean id="person" class="com.yao.pojo.Person" autowire="byType">-->
<!--            <property name="name" value="yaoao"/>-->
<!--        </bean>-->

    <bean id="person" class="com.yao.pojo.Person">
        <property name="name" value="yaoao"/>
    </bean>
</beans>